.prButton{
    -fx-background-color: #1874bf;
    -fx-text-fill: #fff;
}
.prButton:hover{
    -fx-opacity: 0.7;
}
.redButton{
    -fx-background-color: #e52f2f;
    -fx-text-fill: #fff;
}
.redButton:hover{
    -fx-opacity: 0.7;

}
.signUp:hover{
    -fx-opacity: 0.8;
    -fx-text-fill: #e52f2f;
}